:root {
  --color-primary: #228996;
  --color-primary-light: #9A9B9D;
  --color-secondary: #707070;
  --color-accent: #fff;
  --color-neutral-beige: #e2e2e2;
  --color-whatever: #673D28;

  --font-primary: "Proxima Nova", "Trebuchet MS", Arial, sans-serif;
  --font-secondary: "Georgia", Menlo, Consolas, monospace;
}

html {
  font-family: var(--font-primary);
}

h1  {
  color: #228996;
  text-shadow: 2px 2px #fff;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  color:#707070;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  color:#228996;
  font-weight: bold;
}

h4 {
  color:#707070;
    font-weight: bold;
}

h5 {
  font-family:"Georgia";
  color:#228996;
  font-weight: bold;
  text-transform: uppercase;
}

h6 {
  font-family:"Georgia";
  color:#9A9B9D;
  font-weight: normal;
}


ol {
  color: ##9A9B9D;
  font-weight: lighter;
  text-transform: uppercase;
}

ul {
  color: #9A9B9D;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

dt {
  color: #228996;
  font-weight: bold;
  text-transform: uppercase;
}

dd {
  color: #9A9B9D;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #228996;
  font-weight: bold;
  text-transform: uppercase;
}

blockquote {
  font-family:"Georgia";
  color: #228996;
  font-weight: normal;
}

cite {
  font-family:"Georgia";
  color: #9A9B9D;
  font-weight: normal;
}

em {
  font-weight: bold;
}

strong {
  font-weight: bold;
  color: #673D28;
}

dfn {
  font-weight: normal;
  color: #673D28;
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}

ins {
  text-transform: uppercase;
  color: #9A9B9D;
}

mark {
  background-color: #25E8F2;
}
