:root {
  --color-primary: #228996;
  --color-primary-light: #9A9B9D;
  --color-secondary: #707070;
  --color-accent: #fff;
  --color-neutral-beige: #e2e2e2;
  --color-whatever: #673D28;

  --font-primary: "Alegreya Sans", "Trebuchet MS", Arial, sans-serif;
  --font-secondary: "linotype-didot, serif", Menlo, Consolas, monospace;
}

html {
  font-family: var(--font-primary);
}

h1  {
  color: #228996;
  text-shadow: 2px 2px #fff;
  font-style: normal;
  font-weight: bold;
}

h2 {
  color:#228996;
  font-weight: bold;
}

ol {
  font-family:
}
