.main-footer {
  margin-top: 1em;
  top: 0;
  left: 1;
  background-color: var(--color-neutral-beige);
  width: 100%;
  padding: .5em;
  display: inline-block;
}

.footer-left {
  float: left;
  padding-right: 1em;
  display: inline;
}

.footer-right {
  color: black;
  float: left;
}

h2 {
  padding-top: .15em;;
  margin: 0;
}
