ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-secondary);
}

li {
  float: left;
  background-color: var(--color-primary-light);
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: var(--color-secondary);
}

.active {
  background-color: var(--color-primary);
}
