.forms .is-validated input:invalid, .is-validated input[type="checkbox"]:invalid + label::before, .is-validated:invalid, .is-validated[type="checkbox"]:invalid + label::before {
  border-color: #f33;
}

.forms .error-message {
  display: none;
  background-color: #fee;
  color: #c33;
}

.forms .error-message-highlighted {
  background-color: #c33;
  color: #fff;
}

.forms .is-validated > .error-message:first-child, .is-validated input:invalid + .error-message, .is-validated input:invalid + label + .error-message, .is-validated:invalid + .error-message, .is-validated:invalid + label + .error-message {
  display: block;
}

fieldset {
  padding: 0;
}

button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

div .name {
  float: left;
}

div .age {
  float: right;
}

div .email {
  float: left;
}

div .fit {
  float: right;
}

@media only screen and (min-width: 60em) {

  button:hover {
    background-color: #f2f2f2;
  }

}
