.nav-2 {
  float: left;
}

.signin {
  float: left;
}

.nav-3{
  float: right;
  padding-left: 1em;
}

.nav-4 {
  display: inline-block;
  padding-right: 1em;
  text-align: center;
}

.nav-1{
  position: absolute;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .5em;
  padding-right: .5em;
  background-color: var(--color-whatever);
  width: 100%;
}
